name: Publish Docker # Имя инструкции

on: # Инструкция будет запускаться при push в ветку main
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master # Мы берем мастер ветку
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master # Мы используем готовый экшн для сборки докер образа
        with: # Ниже указаны параметры для экшна
          registry: docker.pkg.github.com
          name: docker.pkg.github.com/popenkov/docker-ci-cd/docker-ci-cd
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.GITHUB_TOKEN }}
          tags: 'develop'
# name: ci

# on:
#   push:
#     branches:
#       - 'main'

# jobs:
#   docker:
#     runs-on: ubuntu-latest
#     steps:
#       -
#         name: Set up QEMU
#         uses: docker/setup-qemu-action@v2
#       -
#         name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v2
#       -
#         name: Login to DockerHub
#         uses: docker/login-action@v2
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}
#       -
#         name: Build and push
#         uses: docker/build-push-action@v3
#         with:
#           push: true
#           tags: user/app:latest
